.messageWrapper {
  display: flex;
}
.messageContainer {
  display: flex;
  padding: 16px 8px 16px 16px;
  margin-bottom: 16px;
  max-width: 420px;
  background: #ffffff;
  flex-direction: column;
  border-radius: 4px;
  border: solid 1px #c4c9ce;
}
.messageWrapper {
  display: flex;
}
.messageSender {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #c4c9ce;
  letter-spacing: 0.3px;
  font-size: 12px;
}
.messageText {
  width: 100%;
  letter-spacing: 0;
  font-size: 16px;
  word-wrap: break-word;
  margin-top: 4px;
}
.messageDate {
  display: flex;
  font-family: Helvetica;
  color: #c4c9ce;
  letter-spacing: 0.3px;
  font-size: 12px;
  margin-top: 4px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}
.yellowBG {
  background-color: #fcf6c4;
}
@media (max-width: 768px) {
  .messageContainer {
    max-width: 240px;
  }
}
